<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ElectroShop - register</title>
    <link rel="stylesheet" href="CSS/register.css">
</head>
<body>
    <div class="register-container">
        <div class="register-box">
            <div class="logo">
                <h1>ElectroShop</h1>
                <img src="/logo.png" alt="" class="logo-icon">
            </div>
            <form class="register" id="register-Form">
                <label class="txt" for="username">Username</label>
                <input type="text" id="username" placeholder="Username" class="input-field" required>
                <label class="txt" for="email">Username</label>
                <input type="text" id="email" placeholder="Email" class="input-field" required>

                <label class="txt" for="password">Password</label>
                <input type="password" id="password" placeholder="Password" class="input-field" required>

                <div class="btn">
                    <button type="button" class="register-button">Registrar</button>      
                </div>
            </form>
        </div>
    </div>
</body>
</html>